* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  min-height: 20vh;
  background-color: rgba(128, 128, 128, 0.651);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
main {
  width: 100%;
  min-height: 70vh;
}
.main-contact {
  pading: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}
.search-filt {
  min-width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form {
  display: flex;
}
.tarjet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card-img-top {
  width: 100%;
  height: 20vh;
}
.card {
  border: none;
  margin: 10px;
  box-shadow: 5px 5px 10px rgb(30, 30, 30);
}
.maincontact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 19, 146, 0.792);
}
.labelcontact {
  width: 700px;
  color: white;
}
.nav-ankors {
  display: flex;
  flex-direction: row;
}
.textocheck {
  color: white;
}
.divdeloscheck {
  background-color: rgb(0, 0, 0) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}
.label-index {
  margin-right: 40px;
  color: white !important;
}
.ankors-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  width: 95px;
  height: 45px;
  margin-right: 10px;
  text-align: center;
  background-color: white;
}
.div-logo {
  background-color: black;
  padding: 10px;
}
.logo {
  width: 150px;
}
#carouselExample {
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.carousel-inner {
  height: 150px;
  display: flex;
  align-items: center;
}
.parrafo-index {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 100px;
}
#homeCarts {
  background-color: rgba(187, 0, 255, 0.467);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-img-top {
  width: 300px;
  height: 250px;
}
.card-body {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
#prices {
  height: 40px;
}
.card {
  width: 300px !important;
  margin: 10px !important;
  background-color: rgba(165, 42, 42, 0.618) !important;
  padding: 10px !important;
}
.card-title,
.card-text {
  color: white !important;
}
.footer-index {
  background-color: black;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.h2-footer-index {
  color: white;
}
.formcontact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.labelcontact {
  width: 700px;
  display: flex;
  flex-direction: column;
}
#textarea {
  width: 700px;
  height: 80px;
}
.labelcontact1 {
  width: 700px;
  margin-top: 10px;
  text-align: end;
}

.divtable {
  background-color: rgba(0, 0, 255, 0.263);
  padding: 20px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.table,
tr,
th,
td {
  padding: 5px;
  border: 2px solid black !important;
  height: 20px;
}
th {
  height: 40px;
  color: white;
  text-align: center !important;
  background-color: rgb(74, 0, 144) !important;
}
td {
  color: white;
  background-color: rgba(5, 5, 100, 0.779) !important;
}
.divcardsprice {
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;
}
.description {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
#cartasindex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px !important;
  height: 300px;
}
@media (max-width: 320px) {
  .search-filt {
    min-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #contenedor {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .footer-index {
    text-align: center;
    background-color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .divform {
    display: flex;
    justify-content: center;
  }
  .formcontact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .labelcontact {
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  #textarea {
    width: 200px;
    height: 80px;
  }
  .labelcontact1 {
    margin-top: 10px;
    width: 200px;
    text-align: end;
  }
  .nav-ankors {
    display: none !important;
  }
  .div-logo {
    display: none !important;
  }
  .parrafo-index {
    font-size: 25px !important;
  }
}
@media (min-width: 321px) and (max-width: 426px) {
  .search-filt {
    min-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #contenedor {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  #cardsid {
    width: 415px !important;
  }
  .div-input-index {
    display: flex;
    flex-direction: column;
  }
  .footer-index {
    text-align: center;
    background-color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .divform {
    display: flex;
    justify-content: center;
  }
  .formcontact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .labelcontact {
    width: 350px;
    display: flex;
    flex-direction: column;
  }
  #textarea {
    width: 350px;
    height: 80px;
  }
  .labelcontact1 {
    margin-top: 10px;
    width: 350px;
    text-align: end;
  }
  .nav-ankors {
    display: none !important;
  }
  .parrafo-index {
    font-size: 30px !important;
  }
}
@media (min-width: 427px) and (max-width: 769px) {
  .div-input-index {
    display: flex;
    flex-direction: column;
  }
  .dropdown {
    display: none !important;
  }
  .parrafo-index {
    font-size: 60px !important;
  }
}
@media (min-width: 770px) and (max-width: 1025px) {
  .dropdown {
    display: none !important;
  }
  .parrafo-index {
    font-size: 40px !important;
  }
}
@media (min-width: 1026px) and (max-width: 1441px) {
  .dropdown {
    display: none !important;
  }
  .parrafo-index {
    font-size: 40px !important;
  }
}
@media (min-width: 1442px) and (max-width: 2561px) {
  .dropdown {
    display: none !important;
  }
  .parrafo-index {
    font-size: 80px !important;
  }
}
